.error-message {
  max-width: 300px;
  background-color: #000;
  color: #fd0800;
  border: 2px solid #fd0800;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
}

.error-title {
  font-size: 2rem;
  margin: 0 0 20px;
}

.error-text {
  margin: 0 0 20px;
}

.error-button {
  background-color: #fd0800;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.error-button:hover {
  background-color: #fd0800;
  transform: scale(1.05);
}
