.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal__content {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 80vw;
  min-height: 200px;
  border: 2px solid #ffe81f;
  box-shadow: 0 0 20px rgba(255, 232, 31, 0.6);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
  color: #ffe81f;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover {
  color: #fff;
}